<form action="/<%= song._id %>/edit" method="post">
   Song Name: <input type="text" name="name" value=<%=song.name %>><br>
   Artist: <input type="text" name="artist" value=<%=song.artist %>><br>
   Year: <input type="text" name="year" value=<%=song.year %>><br>
   <input type="submit">
</form>
